/** general css file */

:root {
    /* * colors  */
    --primary-a: #004883;
    --primary-b: #2a79cb;
    --primary-c: #6690bd;
    --primary-d: #93c5fd;
    --primary-e: #a4c9ff;

    --secondary-a: #030712;
    --secondary-b: #00162e;
    --secondary-c: #0f1d3d;
    --secondary-d: #00315d;
    --secondary-e: #2c455b;



}

/* ! general class start */

.font-inter {
    font-family: "Inter";
}

.font-playfair {
    font-family: "Playfair Display";
}

.font-boo {
    font-family: "Black Ops One";
}

.font-bitcont {
    font-family: "Bitcount Ink";
}

/* ? general class end */









/* ! css edits start */


/* 
! ==================================================
! ==========for all pages start===================== 
! ==================================================
*/

html {
    scrollbar-width: thin;
    
    scroll-behavior: smooth;
}

/* ! navbar start */
#navMenu {
    max-height: 0;

    overflow: hidden;
    transition: max-height 0.55s ease;
}

#navMenu.open {
    max-height: 320px;
}



/* ? navbar end */

/* ? for all pages end */

/* 
! ==================================================
! =============index page start===================== 
! ==================================================
*/

/* ! heder index section start */
.hero-cover {
    background-image: url(https://i.pinimg.com/1200x/82/86/3c/82863c8e540124c3848145bf16484e61.jpg);
    background-size: cover;
    background-position: right;
}

.hero-theme {
    background: linear-gradient(0deg, var(--secondary-a) 30%, transparent 100%);

}

/* ? heder index section end */









/* ? index page end */











/* ? css edits end */